#new-game {
  display: flex;
}

#start {
  font-size: 1.1em;
  padding-top: 4.5%;
  padding-bottom:5%;
  margin: 1rem 2rem;
  width: 100%;
  border-radius: 50vh;
  border: solid 1px;
  color: #282828;
  text-align: center;
}

#start-click {
  font-size: 1.1em;
  padding-top: 4.5%;
  padding-bottom:5%;
  margin: 0 10%;
  width: 100%;
  border-radius: 50vh;
  border: solid 1px;
  color: #282828;
  text-align: center;
}

/* @media screen and (min-width: 600px) {
    .honeycomb {
        margin: 1rem 8rem 1rem 1rem;
        width: 75%;
    }
} */