#text-entry {
    display: flex;
    justify-content: center;
    padding: 0 6%;
}

@media screen and (min-width: 600px) {
    #text-entry {
        margin: 0 0 4rem 14rem;
        width: 43%;
    }
}

@media screen and (max-width: 600px) {
    #text-entry {
        margin: 0 0 4rem 8.1rem;
        width: 50%;
    }
}

#text-box {
    width: 20rem;
    height: 4rem;
    padding: 1vh 0;
    overflow: auto;
    background-color: #fdbf00;
    border-radius: 50px;
    color: #282828;
    text-align: center;
    font-size: 1.5em;
}